body{
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: #ffffff;
}
.page-header{
    min-height: 600px;
    padding-top: 50px;
    background: url("../img/background.jpg") no-repeat center;
}
.container{
    width: 1020px;
    margin: 0 auto;
}
.header-logo{
    margin-left: 60px;
    float: left;
}
.clearfix::after{
    display: table;
    content: "";
    clear:both;
}
.header-top{
    margin-bottom: 109px;
}
.promo {
    margin-left: -70px;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    line-height: 72px;
}
.main-nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-top: 12px;
}
.main-nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.main-menu li, btn1, btn2:hover{
    cursor: pointer;
}
.main-nav li{
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 53px;
    float: left;
    text-transform: uppercase;
}
.main-nav li:last-child{
    margin-right: 30px;
}
.switch{
    text-align: center;
    margin-left: 30px;
}

.switch .slide-icon{
    display: inline-block;
    margin-top: 148px;
    background-color: rgba(255,255,255, 0.6);
    width: 7px;
    height: 7px;
    padding: 2px;
    margin-right: 40px;
    cursor: auto;
}
.switch .slide-icon:focus{
    background: white;
}


.new-kvast{
    margin-top: 97px;
}
.new{
    display: flex;
    margin-top: 107px;
    margin-left: 60px;
}
h2{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 60px;
}
.item-kvast{
    width: 343px;
    height: 600px;
    position: relative;
    padding: 11px 30px 50px 30px;
    border-left: 1px solid grey;

}
.new-romantik{
    border-right: 1px solid grey;
}
.table-item {
    display: table;
    width:150px;
    top:30px;
    position: absolute;
    left: 250px;
    border-bottom: 0.5px solid grey;
}
.table-item tr{
    display: table-row;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}
.comm{
    position:absolute;
    left: 250px;
    top: 77px;
    font-size: 14px;
    line-height: 18px;
}
.new-name{
    font-size: 36px;
    text-transform: uppercase;
}
.new-footer{
    margin-top: -25px;
}
.new-footer p{
    margin-top: -3px;
    line-height: 16px;
}
.btn1, .btn2{
    display: inline-block;
    border: 2px solid #834700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
}
.btn1{
    width: 142px;
    height: 42px;
    color: #834700;
    margin-right: 5px;
}
.btn2{
    width: 106px;
    height: 42px;
    background-color: #834700;
    color: white;
    margin-right: 30px;
}
b{
    font-size: 12px;
}

.features{
    height: 400px;
    background: #ffcb78;
    margin-top: 89px;
}