body{
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: #ffffff;
}
.page-header{
    min-height: 600px;
    padding-top: 50px;
    background: url("../img/background.jpg") no-repeat center;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.header-logo{
    float: left;
}
.clearfix::after{
    display: table;
    content: "";
    clear:both;
}
.header-top{
    margin-bottom: 109px;
}
.promo {
    margin-left: -70px;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    line-height: 72px;
}
.main-nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-top: 12px;
}
.main-nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.main-menu li, btn1, btn2:hover{
    cursor: pointer;
}
.main-nav li{
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 53px;
    float: left;
    text-transform: uppercase;
}
.main-nav li:last-child{
    margin-right: 30px;
}
.switch{
    text-align: center;
    margin-left: 30px;
}
.switch .slide-icon{
    display: inline-block;
    margin-top: 148px;
    background-color: rgba(255,255,255, 0.6);
    width: 7px;
    height: 7px;
    padding: 2px;
    margin-right: 40px;
    cursor: auto;
}
.switch .slide-icon:focus{
    background: white;
}


.new-kvast{
    margin-top: 97px;
}
.new{
    display: flex;
    margin-top: 107px;
}
h2{
    font-size: 36px;
    text-transform: uppercase;
}
.item-kvast{
    width: 343px;
    height: 600px;
    position: relative;
    padding: 0 30px 50px 30px;
    border-left: 1px solid grey;
}
.new-romantik{
    border-right: 1px solid grey;
}
.table-item {
    display: table;
    width: 150px;
    top: 30px;
    position: absolute;
    left: 250px;
    border-bottom: 0.5px solid grey;
}
.table-item tr{
    display: table-row;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
}
.comm{
    position: absolute;
    left: 250px;
    top: 68px;
    font-size: 14px;
    line-height: 18px;
}
.new-name{
    font-size: 36px;
    text-transform: uppercase;
}
.new-footer{
    margin-top: -25px;
}
.new-footer p{
    margin-top: -3px;
    line-height: 16px;
}
.btn1, .btn2{
    display: inline-block;
    border: 2px solid #834700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
}
.btn1{
    width: 142px;
    height: 43px;
    color: #834700;
    margin-right: 5px;
}
.btn2{
    width: 101px;
    height: 43px;
    background-color: #834700;
    color: white;
    margin-right: 30px;
}
b{
    font-size: 15px;
}

.features{
    height: 400px;
    background: #ffcb78;
    margin-top: 89px;
}
.feature-item {
    margin-left:-20px;
}
.feature-item li{
    display: inline-block;
    list-style-type: none;
    vertical-align: bottom;
    width:210px;
    height:230px;
    text-align: left;
    margin-top: 110px;
    border-right: 1px solid #e7b66a;
    padding: 0 40px;
    color: #434446;
    line-height: 26px;
}
.feature-item h4{
    margin-top: 23px;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
}
.feature-item li:last-child{
    border-right: none;
    padding-right: 0px;
}


.history{
    height: 517px;
    margin-top: 87px;
}
.history-item{
    margin-top: 100px;
}
.description{
   position: relative;
}
.description h3{
    text-transform: uppercase;
    font-size: 22px;
}
.description p{
    margin: 40px 0;
    line-height: 26px;
}
.link{
    position: absolute;
    right: 515px;
}
.link img{
    margin-top:37px;
}
.ist a{
    color: #894a03;
}


.press{
     background: #ede5d8;
     height: 480px;
 }
.press_comm h2{
    padding-top: 100px;
    margin-bottom: 83px;
}
.press_comm p{
    color: #434446;
    line-height: 32px;
}
.press_comm .btn1{
    width: 166px;
    height: 46px;
    font-size: 16px;
    margin-top: 20px;
    border-color: #a69f95;
    color: #c0b8ad;
}
.press_comm .cite{
    float: right;
    margin-right: 128px;
    padding-top: 8px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}


.prise-list{
    height: 556px;
    margin-top: 110px;
}
.prise table{
    display: table;
    margin-top:105px;
    text-transform: uppercase;
    border-collapse: collapse;

}
th{
    display: table-cell;
    text-align: left;
    font-size: 12px;
    color: darkgrey;
    font-weight: 400;
    padding-bottom: 40px;
    vertical-align: center;
}
.prise table tr{
    border-bottom: 1px solid #e5e5e5;
}
.prise td{
    display: table-cell;
    padding: 20px 0;
    color: #454545;

}
.prise td:first-child{
    font-weight: 700;
    color: black;
}
.prise td:last-child,
.prise th:last-child{
    text-align: right;
}
th:nth-child(2),th:nth-child(3),th:nth-child(4),
td:nth-child(2),td:nth-child(3),td:nth-child(4)
{
    text-align: center;
}
.prise sup{
    font-weight: 700;
    font-size: 8px;
    padding: 2px 5px;
    background: black;
    color: white;
    margin-left: 20px;
}



.form{
    background: #ffcb78;
}